body{
  font-family: Arial, Helvetica, sans-serif;
  font: normal Arial, Helvetica, sans-serif;
  line-height: 1.4em;
}

input{
  margin-left: 5%;
}

label{
  font-size: 14px;
}

#checkbox_par{
  font-size: 16px;
}
