*{
    margin:0px;
    padding:0px;
   }
   .dropdown{
    position:relative;
    display:inline-block;
    text-align:center;
   }
   .menu{
    padding:10px 40px;
    font-size:20px;
   }
   .button{
    padding:10px 40px;
    font-size:10px;
    margin: 1%;
   }
   .drop-content{
    display:none ;
    position:absolute;
    z-index:1;
    width:120px;
   }
   .drop-content a{
    display:block;
    background:#dfdfdf;
    padding:10px;
    color:black;
    text-decoration:none;
    font-size:20px;
    margin-top:2px;
   }
   .dropdown:hover .drop-content{
    display:block;
   }