*{
    margin:0px;
    padding:0px;
   }
   .dropdown{
    position:relative;
    display:block;
   }
   .menu{
    padding:10px 40px;
    font-size:20px;
   }
   .button{
    padding:10px 10px;
    width: 64px;
    height: 64px;
    margin: 1%;
    background-color: white;
    border: none;
    transition-duration: .4s;
    transition-timing-function: ease-out;
   }
   .button:hover{
       background-color: lightgray;
   }